h1 {
    font-size: 30px;
}

#sign-check{
    cursor: pointer;
}
button {
    margin-left: 3px;
    margin-top: 3px;
}

.ad {
    width: 50%;
    transform: translate(100%, 0px);
}

#sign-email {
    font-size: 0.9375rem;
}

.form-group {
    margin-bottom: 11px;
}

label {
    margin-bottom: -5px;
}

.alert {
    margin-bottom: 5px;
}

#emailHelp {
    font-size: 0.9375rem;
    color: orangered !important;
}

.agree {
    font-size: 0.9375rem;
}

.agree a {
    cursor: pointer;
    text-decoration: underline;
}

.agree a:hover {
    color: var(--primary);;
}

.agree a:visited {
    color: black;
}

.errorr {
    padding: 10px 3px;
}

.warr {
    font-size: 0.90625rem;
}

.op {
    border: 5px solid var(--primary);
    height: 45px;
}

#loginAndSignUp{
    max-width:700px;
    margin:0 auto;
    padding: 0 5px;
}

#logins {
    height: 20%;
    width: 50%;
    overflow-y: auto;
    text-align: center;
    float:left;
}

#signup {
    height: 87%;
    width: 50%;
    text-align: center;
    float:right;
    overflow-y: auto;
}

.credit{
    padding:5px 10px;
    border: 1px solid var(--primary);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
}

@media(max-width:500px){
    #logins, #signup{
        width:100%;
        float:none;
    }
}
