<div class="tab-pane fade show active" id="loginAndSignUp" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="credit-container">
        <div id="logins" *ngIf="loginb" class="credit">
            <form (submit)="loginUser($event)">
                <h1>Login</h1>
                <div class="{{alerttype.login}} errorr logine" role="alert">
                    <strong>Hello!</strong> {{error.login}}
                    <button type="button" class="close" data-dismiss="alet" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">User Name or Email</label>
                    <input (input)="checkLogin()" type="text" class="form-control" id="name-or-email"
                        aria-describedby="sign-in-username" placeholder="Name or Email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input (input)="checkLogin()" type="password" class="form-control" id="login-password"
                        placeholder="Password">
                </div>

                <button type="submit" id="login-btn" class="btn btn-primary">Login</button>
            </form>
            <div class="alert alert-warning warr" role="alert">
                We <b>ARE NOT</b> responsible for any wrong information on this website
                It's to help you understand SM schedule faster. You should <b>NOT</b> rely on this app
            </div>
        </div>
    </div>

    <div class="credit-container">
        <div id="signup" class="credit">
            <form (submit)="signup($event)">
                <h1>Sign Up</h1>
                <div class="{{alerttype.signup}} errorr signupe" role="alert">
                    <strong>Hello!</strong> {{error.signup}}
                    <button type="button" class="close" data-dismiss="alet" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail2">User Name</label>
                    <input (input)="checkSignUp($event)" type="text" class="form-control" id="sign-username"
                        aria-describedby="sign-up-username" placeholder="User Name" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Display Name</label>
                    <input (input)="checkSignUp($event)" type="text" class="form-control" id="sign-display"
                        placeholder="Display Name" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input (input)="checkSignUp($event)" type="text" class="form-control" id="sign-email"
                        placeholder="prefer sm email" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Password</label>
                    <input (input)="checkSignUp($event)" type="password" class="form-control" id="sign-password"
                        placeholder="Password" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password Confirm</label>
                    <input (input)="checkSignUp($event)" type="password" class="form-control" id="sign-passwordcon"
                        placeholder="Password Again" />
                </div>
                <div class="form-group form-check">
                    <input (input)="checkSignUp($event)" type="checkbox" class="form-check-input" id="sign-check">
                    <label class="form-check-label agree" for="exampleCheck1">Agree To <a>Terms and
                            Condition</a></label>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>

            </form>
        </div>
    </div>
</div>

<!--//////////////////modal///////////-->

<!--
<div *ngIf="loginb" class="carousel slide ad" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
            <img src="http://frcscouting.ga/Scope_Ad.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img id="yoshi" src="http://frcscouting.ga/Scope_Ad.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="http://frcscouting.ga/Scope_Ad.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>-->
<!--end of ad-->