.see {
    padding: 0;
    height: 30px;
    width: 125px;
}

.mmmb {
    margin-bottom: 0;
    margin-left: 5px;
    margin-top:8px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primary);
}

.firstTimeActive {
    display: block; 
    background-color: rgba(0, 0, 0, 0.4);
}