main{
    margin-top:5px;
}

.generalWidth{
    padding: 0 10px;
    width:400px;
    margin-left: calc(50% - 205px);
}

.nav-link{
    cursor: pointer!important;
}

#account {
    height: 100%;
    overflow-y: auto;
}

.largerFont{
    font-size:0.9rem;
    margin-top:5px;
    margin-bottom:2px;
}

#thisweek_container {
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
}

h5 {
    transform: translateX(5px);
    font-size: 1.05rem;
}

.mb-3,
.my-3 {
    margin-bottom: 5px !important;
}

.signno {
    margin-top: 3px;
    margin-left: 5px;
}

.form-group {
    margin-bottom: 0px;
}

.sep {
    margin-top: 5px;
    margin-left: 5px;
    transform: translateY(-15px);
}

.spbtn {
    width: 80px;
    font-size: 0.875rem;
    padding: 0;
}

#timeL {
    width: 320px;
    margin: 0 auto;
}

.timeLL {
    width: 270px;
    margin: 0 0;
    margin-top: 20px;
}

.gray {
    background-color: #aaa;
}

.toast {
    opacity: 1;
}

.loader{
    margin:0 calc(50% - 1rem);
    margin-top:10px;
}

.beGray{
    background-color: #aaa;
}
@media (max-width:940px) {
    #account {
        height: 600px;
    }
}

@media (max-width:450px) {
    #account {
        width:100%;
        margin-left: 0;
    }
}

@media (max-height:568px) {
    #account {
        height: 450px;
    }
}